<script type="text/javascript">

  var intervals={};
  var update_seconds={};
  plots={};
  var graph_array = [[]];  
  var previous_variable;
  var new_variable;
  var line1=[];

  $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
function graph_plot(){
  $('#date').empty();
  $('#date').append(spinner.el);
  response = {"data" : []}
  var obj={};
    obj['server'] =     $('#selector').find('option:selected').attr('id');
    obj['name'] =       $('#selector').find('option:selected').attr('class');
    obj['from-day']=    $('#from-day').find('option:selected').attr('id');
    obj['from-month']=  $('#from-month').find('option:selected').attr('id');
    obj['from-year']=   $('#from-year').find('option:selected').attr('id');
    obj['to-day']=    $('#to-day').find('option:selected').attr('id');
    obj['to-month']=  $('#to-month').find('option:selected').attr('id');
    obj['to-year']=   $('#to-year').find('option:selected').attr('id');
    if ((obj['to-year']-obj['from-year'])==0 && (obj['to-month']-obj['from-month'])==0 && (obj['to-day']-obj['from-day'])==1){
      display_format='%H:%M';
    }
    else{display_format='%d/%m/%y';}
  response.data.push(obj);
  json_response = JSON.stringify(response);
  $.post("/json/graph_db/", json_response).success(function(dta) {
  //Codigo para añadir el nuevo data al graph_array y dibujar plot
    line1=[];    
    if (dta.TimeSeries[0].value=="None")
      {
        $('#chart1').empty();
        $('#chart1').append("<strong>No data was found.</strong>");
      }
    else
      {
    for (var i=0; i!=dta.TimeSeries.length; i++){
      var time=dta.TimeSeries[i].time.replace("T", " ");
      var value = parseInt(dta.TimeSeries[i].value,10);
      line1.push([time,value]);
    }
      optionsObj = {
                      title:obj['server'] + ' ' + obj['name'],
                      gridPadding:{right:35},
                      axes:{
                        xaxis:{
                          renderer:$.jqplot.DateAxisRenderer,
                          tickOptions:{formatString: display_format}
                        }
                      },
                      highlighter: {
                        show: true,
                        sizeAdjust: 7.5,
                        renderer:$.jqplot.DateAxisRenderer,
                        tickOptions:{formatString:'%H:%M'} 
                      },
                      cursor: {
                        show: true
                      },
                      series:[{lineWidth:4, markerOptions:{style:'square'}}]
                  };
        plots["chart1"]=$.jqplot("chart1",[line1],optionsObj);
        plots["chart1"].replot();
      }//Es el corchete que cierra el if-else
      //Pongo fecha de la ultima actualización
      var myDate = new Date();
      var seconds=myDate.getSeconds();
      var minutes=myDate.getMinutes();
      var hours=myDate.getHours();
      if (seconds<10) {seconds=('0'+seconds);}
      if (minutes<10) {minutes=('0'+minutes);}
      if (hours<10) {hours=('0'+hours);}
      var displayDate =  hours + ':' + minutes +  ':' + seconds + ' ' + (myDate.getDate()) + '/' +  ( '0' + (myDate.getMonth()+1) ).slice( -2 ) + '/' + myDate.getFullYear();
      $('#date').empty();
      $('#date').append('<p>Last Update: <strong>' +  displayDate + '</strong></p>');
  });
};

function setautoupdate(cbox){
  clearInterval(intervals);
  $("#update_seconds").each(function(index, domele) {
    update_seconds = domele.value;
    update_seconds=update_seconds*1000;
  });
  if(cbox && update_seconds>0)
    {intervals=setInterval(function(){graph_plot()},update_seconds);}      
};

</script>
  <div class="span10" ><!-- span 10-->
      <div class="row-fluid"><!--Row fluid para los botones y selectores-->
        <div class="btn-toolbar-vertical" style="margin: 0;">
            <div id="date"><p>Last Update: <strong>None </strong></p></div>
            <div class="row-fluid"><!--Row fluid para la variable-->
                <div class="span1"><strong>Variable: </strong></div>
                    <select class="span11" id="selector">
                        {% for variable in variable_list %}
                          <option  class="{{ variable.name }}"  id = "{{ variable.server }}">{{ variable.server }} - {{ variable.name }}</option>
                        {% endfor %}
                    </select>
            </div><!--Row fluid para la variable-->
            <div class="row-fluid"><!--Row fluid para el From-->
                <div class="span1"><strong>From: </strong></div>
                    <select class="span1" id="from-day">
                                        <option id="01">01</option>
                                        <option id="02">02</option>
                                        <option id="03">03</option>
                                        <option id="04">04</option>
                                        <option id="05">05</option>
                                        <option id="06">06</option>
                                        <option id="07">07</option>
                                        <option id="08">08</option>
                                        <option id="09">09</option>
                                        <option id="10">10</option>
                                        <option id="11">11</option>
                                        <option id="12">12</option>
                                        <option id="13">13</option>
                                        <option id="14">14</option>
                                        <option id="15">15</option>
                                        <option id="16">16</option>
                                        <option id="17">17</option>
                                        <option id="18">18</option>
                                        <option id="19">19</option>
                                        <option id="20">20</option>
                                        <option id="21">21</option>
                                        <option id="22">22</option>
                                        <option id="23">23</option>
                                        <option id="24">24</option>
                                        <option id="25">25</option>
                                        <option id="26">26</option>
                                        <option id="27">27</option>
                                        <option id="28">28</option>
                                        <option id="29">29</option>
                                        <option id="30">30</option>
                                        <option id="31">31</option>
                    </select>                                 
                    <select class="span2" id="from-month">
                                        <option id="01">January</option>
                                        <option id="02">February</option>
                                        <option id="03">March</option>
                                        <option id="04">April</option>
                                        <option id="05">May</option>
                                        <option id="06">June</option>
                                        <option id="07">July</option>
                                        <option id="08">August</option>
                                        <option id="09">September</option>
                                        <option id="10">October</option>
                                        <option id="11">November</option>
                                        <option id="12">December</option>
                    </select> 
                    <select class="span2" id="from-year">
                                        <option id="2013">2013</option>
                                        <option id="2014">2014</option>
                    </select> 
            </div><!--Row fluid para el From-->
            <div class="row-fluid"><!--Row fluid para el To-->
                <div class="span1"><strong>To: </strong></div>
                <select class="span1" id="to-day">
                                        <option id="01">01</option>
                                        <option id="02">02</option>
                                        <option id="03">03</option>
                                        <option id="04">04</option>
                                        <option id="05">05</option>
                                        <option id="06">06</option>
                                        <option id="07">07</option>
                                        <option id="08">08</option>
                                        <option id="09">09</option>
                                        <option id="10">10</option>
                                        <option id="11">11</option>
                                        <option id="12">12</option>
                                        <option id="13">13</option>
                                        <option id="14">14</option>
                                        <option id="15">15</option>
                                        <option id="16">16</option>
                                        <option id="17">17</option>
                                        <option id="18">18</option>
                                        <option id="19">19</option>
                                        <option id="20">20</option>
                                        <option id="21">21</option>
                                        <option id="22">22</option>
                                        <option id="23">23</option>
                                        <option id="24">24</option>
                                        <option id="25">25</option>
                                        <option id="26">26</option>
                                        <option id="27">27</option>
                                        <option id="28">28</option>
                                        <option id="29">29</option>
                                        <option id="30">30</option>
                                        <option id="31">31</option>
                  </select>                                        
                  <select class="span2" id="to-month">
                                        <option id="01">January</option>
                                        <option id="02">February</option>
                                        <option id="03">March</option>
                                        <option id="04">April</option>
                                        <option id="05">May</option>
                                        <option id="06">June</option>
                                        <option id="07">July</option>
                                        <option id="08">August</option>
                                        <option id="09">September</option>
                                        <option id="10">October</option>
                                        <option id="11">November</option>
                                        <option id="12">December</option>
                  </select> 
                  <select class="span2" id="to-year">
                                        <option id="2013">2013</option>
                                        <option id="2014">2014</option>
                  </select> 
            </div><!--Row fluid para el To-->
            <div class="btn-toolbar">
              <button class="btn btn-primary" onclick="graph_plot()"><i class="icon-repeat icon-white"></i> Update</button>
            </div><!-- button toolbar-->
        </div><!-- button toolbar vertical-->
      </div><!--Row fluid para los botones y selectores-->      
      <div id="chart1" style="height:400px;width:900px;"></div>
  </div><!-- /span10 -->


                                    


