<div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li id="data_access" class="nav-header">Data Access</li>
              <li id="read" ><a href="/read">Read</a></li>
              <li id="control" ><a href="/control">Control</a></li>
              <li id="display_editor" ><a href="/display_editor">Display Editor</a></li>
              <li id="administrate" ><a href="/admin/variables/">Administrate</a></li>
              <li id="historical"  class="nav-header">Historical Data Access</li>
              <li id="graph_db" ><a href="/graph_db">Graph from Data Base</a></li>
              <li id="log_db" ><a href="/log_db">Log from Data Base</a></li>
              <li id="alarms_events" class="nav-header">Alarms and Events</li>
              <li id="graphics"> <a href="/graph_live">Graphics</a></li>
              <li id="alarms" ><a href="/admin/djcelery/periodictask">Alarms</a></li>
            </ul>
          </div><!--/.well -->
</div><!--/span 2 -->